.order-pre {
  font-size: 1em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.order-li {
  width: 1800px;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  transition: max-height 3s ease;
}

.expandable-li {
  max-height: 150px;
}

.expandable-li__active {
  max-height: 1500px;
}

.order-h5,
.order-h5__content {
  height: 100px;
  text-align: center;
  font-size: 1em;
  word-break: break-all;
  overflow: hidden;
  position: relative;
}

.order-h5 {
  width: 240px;
}

.order-h5__content {
  width: 540px;
  line-height: 20px;
}

.order-li__extend {
  width: auto;
  height: 10px;
  margin: 15px 0;
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
}

.order-li__shrink {
  width: auto;
  height: 10px;
  margin: 15px 0;
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
}

.order-li__extend:hover,
.order-li__shrink:hover {
  cursor: pointer;
  color: black;
}

.order-li input {
  text-align: center;
  font-size: 1em;
  width: 240px;
  word-break: break-all;
  overflow: hidden;
  position: relative;
}

.order-li input {
  width: 150px;
}

.order-li input:hover {
  cursor: pointer;
}

.order-li div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expandable-div__active {
  max-height: 1800px;
}

.expandable-h5__active {
  text-align: center;
  font-size: 1em;
  word-break: break-all;
  width: 540px;
}

.order-delete__button {
  position: absolute;
  right: 0%;
  font-size: 1em;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  color: rgb(199, 21, 133);
  transition: transform 0.5s ease-in-out, font-weight 0.5s ease-in-out,
    color 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.order-delete__button:hover {
  cursor: pointer;
  transform: scale(0.9);
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.order-delete__button:focus {
  outline: none;
}

.line {
  width: 1800px;
  border-top: 1px solid #fff;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.7);
}
