.order-ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(84, 84, 84);
  padding-top: 25px;
}

.order-menu-li {
  width: 1800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
}

.line {
  width: 1800px;
  border-top: 1px solid #fff;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.7);
}

.order-columnHeader {
  text-align: center;
  color: rgb(181, 181, 181);
  font-size: 1.2em;
  width: 240px;
  letter-spacing: 5px;
}

.order-columnHeader:nth-of-type(2) {
  width: 540px;
}
.order-columnHeader:nth-of-type(6),
.order-columnHeader:nth-of-type(7) {
  width: 150px;
}

/* .order-columnHeader:hover {
  cursor: pointer;
  color: #000;
  color: rgba(255, 197, 197, 0.87);
} */

.load-button__section {
  width: 100%;
  height: 100px;
  margin-top: 25px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
