.logo {
  width: auto;
  height: 40px;
}

.logo {
  margin: 10px 30px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  z-index: 5;
  background-color: rgb(24, 24, 24);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
