.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;
  border-color: aliceblue;
}

.content {
  font-size: 3em;
  padding: 100px 0;
}
