.logout-button {
  background: transparent;
  border: none;
  font-size: 1.3em;
  transition: color 0.4s ease-in-out;

  color: rgb(245, 245, 245);
  outline: none;
}

.logout-button:hover {
  cursor: pointer;
  color: rgb(217, 165, 32);
}

.blank-section {
  margin: 0 30px;
  padding: 5px 20px;
}
